.header{
    height: 336px;
    @include media-breakpoint-up(md){
        height: 100vh;
        h1,.h1{
            font-size: 48px !important;
        }
        h6,.h6{
            font-size: 18px !important;
        }
    }
}
.header-bg-img{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_home_mobile.jpg?raw=true);
    @include media-breakpoint-up(md){
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_home.jpg?raw=true);
    }
}
.bg-img{
    @include bg;
}
.header-item{
    padding: 28px 32px;
    @include media-breakpoint-up(md){
        padding: 50px 85px;
    }
}

.feature{
    .card{
        &:hover{
            background-color: $primary !important;
            border: 1px solid $success;
            .material-icons{
                @include gradient-text(0,$success,$info)
            }
        }
        .material-icons{
            font-size: 50px;
            @include gradient-text(0,$success,$info)
        }
    }
    @include media-breakpoint-up(lg){
        .card{
            background-color: $secondary !important;
            .material-icons{
                color: $white;
            }
        }
        .title{
            align-items: start;
            text-align: left;
        }
    }
}
.recommendCourse{
    .card{
        &:hover{
            border: 1px solid $success;
        }
    }
}
.allCourse-link{
    &:hover{
        color: $white;
        opacity: .8;
    }
}
.highlight{
    &-height{
    height: 1052px;
    }
    &-content{
        text-align: center;
        .title{
            color: $white;
        }
        .material-icons{
            color: $success;
            margin-bottom: 32px;
        }
    }
    &-item{
        &-1{
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info01.jpg?raw=true");
        }
        &-2{
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info02.jpg?raw=true");
        }
        &-3{
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info03.jpg?raw=true");
        }
        &-4{
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info04.jpg?raw=true");
        }
    }
    @include media-breakpoint-up(md){
        &-height{
            height: calc(80vh);
        }
        &-content,.title{
            align-items: start !important;
            text-align: left;
            .material-icons{
                color: $white;
            }
            .title::after{
                background-color: #fff;
            }
        }
    }
}
.article-link:hover{
    opacity: .8;
    .rounded-corners{
        display: block;
    }
}
.feedback-bg-img{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_share.jpg?raw=true);
}
.joinUs{
    &-card{
        flex-direction: column;
        @include media-breakpoint-up(md){
            flex-direction: row;
        }
    }
    &-content{
        text-align: center;
        @include media-breakpoint-up(md){
            text-align-last: left;
        }
    }
}