.mb-50{
    margin-bottom: 50px;
}
.px-50{
    padding: 0 50px;
}
.fz-48{
    font-size: 48px !important;
}
.fz-80{
    font-size: 80px;
}
.translateY-50{
    transform: translateY(-50%);
}
.w-966{
    max-width: 966px;
}